<?xml version="1.0" encoding="UTF-8"?>

<!--
1.概念
    1)HTML:超文本标记语言;
    2)XML:可扩展的标记语言;
    3)HTML是XML的一个子集;
2.XML包含三个部分:
    1)XML声明:声明这一行代码必须在XML文件的第一行;
    2)DTD文档类型定义;
    3)XML正文;
3.Node节点
    1)整个文档是一个文档节点;
    2)每个XML元素是一个元素节点;
    3)包含在XML元素中的文本是文本节点;
    4)每一个XML属性是一个属性节点;
    5)注释是注释节点;
    6)<uname>lixin</uname>->bean:lixin;
-->

<beans>
    <!-- fruitDAO没有依赖 -->
    <bean id="fruitDAO" class="com.lixin.fruit.dao.impl.FruitDAOImpl"/>
    <!-- fruitService依赖fruitDAO -->
    <bean id="fruitService" class="com.lixin.fruit.service.impl.FruitServiceImpl">
        <property name="fruitDAO" ref="fruitDAO"/>
    </bean>
    <!-- 将servletpath中涉及的名字(fruit)对应到相应的controller类(FruitController)来处理 -->
    <!-- fruit依赖fruitService -->
    <bean id="fruit" class="com.lixin.fruit.controllers.FruitController">
        <!-- FruitController类实例对象中的属性name=fruitService需要依赖beanMap中id=ref=fruitService的实例对象 -->
        <property name="fruitService" ref="fruitService"/>
    </bean>
</beans>